body {
  font-family: Arial, sans-serif;
  
  background-image: url(Moon\ and\ Stars\ Minimalist\ Phone\ Wallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-left: 30%;
  margin-bottom: 20px;
}

input[type="number"], input[type="text"], button {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.output-container {
  text-align: center;
  margin-top: 20px;
}
#cal{
  margin-left:45% ;
}
